*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to top, rgb(0 0 0 / 0%), rgb(0 0 0 / 19%)),url(../build/assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.title-card{
    margin-top: 3em;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    /* color: #e1e1e1; */
    color: #1c1b21;
}
.title-card h2{
    font-size: 27px;
    margin-bottom: 6px;
}
.title-card h4{
    color: #505050;
}

/* Card */
.card {
    max-width: 450px;
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 17px 17px 27px 27px;
    margin: 3em auto;
}
.name-flex{
    display: flex;
    justify-content: space-around;
    gap: 9em;
    padding: 10px;
    border-bottom: 2px solid #00000080;
}
.user-pic {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-radius: 50%;
}
.user-pic:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 50%;
    background-color: #0fc45a;
    border: 2px solid #ffffff;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 8px;
}

.title {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    color: #47484b;
}
.text-box {
    width: 100%;
    height: fit-content;
    background-color: #f1f1f1;
    padding: 12px 8px;
}
.text-box .box-container {
    background-color: #ffffff;
    border-radius: 8px 8px 21px 21px;
    padding: 8px;
}

.text-box textarea {
    width: 100%;
    height: 140px;
    resize: none;
    border: 0;
    padding: 12px 12px 10px 12px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    caret-color: #0a84ff;
    border-bottom: 1px solid #00000065;
    border-radius: 0;
}
.text-box textarea:focus {
    outline: 0 !important;
}
/* Image input */
.image-input{
    padding: 15px 10px;
}
/* Grid container */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: xs;
    align-items: center;
}
.label {
    font-size: small;
    color: #8c8c8c;
    font-weight: medium;
    line-height: 1;
}
#picture {
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
    background-color: #fff;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #8c8c8c;
}
.peer-disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed;
}
.peer-disabled\:opacity-70:disabled {
    opacity: 0.7;
}

.text-box .formatting {
    display: grid;
    grid-template-columns: auto auto auto auto auto 1fr;
}
.text-box .formatting button {
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
}
.text-box .formatting .button:hover {
    background-color: #f1f1f1;
    border-radius: 50%;
}
.text-box .formatting .send {
    background-color: #28a745;
    margin: 0 0 0 auto;
    transition: .3s all ease-in-out;
    padding: 20px 45px;
    border-radius: 10px;
    color: #fff;
}
.text-box .formatting .send #share {
    transform: rotate(45deg);
    transition: .3s all ease-in-out;
}
.text-box .formatting .send:hover #share {
    transform: rotate(10deg);
}
.text-box .formatting .send:hover {
    background-color: #208738;
}
@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

  /* View Posts */
.title-post{
    text-align: center;
    margin: 1em auto;
    font-size: 25px;
}
table{
    margin: 5em auto !important;
    width: 90% !important;
    background-color: #fff;
}
table a:hover{
    text-decoration: none;
    color: #fff;
}
table thead{
    background: #474747;
    color: #fff;
}

/* Table Button ( Update - Delete ) */
.noselect {
    width: 110px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}
#update{
    background: #0fc45a;
}
#delete{
    background: #e62222;
}
.noselect, .noselect span {
    transition: 200ms;
}
.noselect .text {
    transform: translateX(10px);
    color: white;
    font-weight: bold;
}
.noselect .icon {
    position: absolute;
    transform: translateX(70px);
    height: 28px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#update .icon{
    border-left: 1px solid #079643;
}
#delete .icon{
    border-left: 1px solid #a00d0d;
}
.noselect svg {
    width: 15px;
    fill: #eee;
}
#update:hover {
    background: #0fc45a;
}
#delete:hover {
    background: #ff3636;
}
.noselect:hover .text {
    color: transparent;
}
.noselect:hover .icon {
    width: 110px;
    border-left: none;
    transform: translateX(0);
}
.noselect:focus {
    outline: none;
}
.noselect:active .icon svg {
    transform: scale(0.8);
}
